Source: rollbackup
Section: devel
Priority: extra
Maintainer: Roll Backup <mail@rollbackup.com>
Build-Depends: debhelper (>= 7.0.50~), golang-go
Standards-Version: 3.9.1
Homepage: http://rollbackup.com

Package: rollbackup
Architecture: amd64 i386
Depends: ${misc:Depends}, rsync
Description: Command line tool for interact with RollBackup.com service
